.card{
    display: flex;
    flex-direction: column;
width: 100%;
        height: auto;
        margin-bottom: 20px;


        img{
            width:100%;
            height: 200px;

        }
        h4{
            color:green;
         
        }
}