* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0;
  padding: 0;
}
.header{
  position: absolute;
  top:0;
  width:1500px;
  display: flex;
  gap:860px;
}
.header1{
    gap:25px;
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
}
.header2{
display: flex;
width:200px;

margin-right: 20px;
gap:8px;

}
.header2 p{font-size: 15px;
    

}
.sale{
    background-color: red;
    width:30px;
    height:20px;
    color:white;
    margin-top: 15px;
}
.header1 a{
    color:black
}

